[Desktop Entry]
Icon=text-html
Name=AZ-Delivery - Funkwecker mit ESP in MicroPython - Teil 6 - DCF77 Funkmodul
Type=Link
URL[$e]=https://www.az-delivery.de/blogs/azdelivery-blog-fur-arduino-und-raspberry-pi/funkwecker-mit-esp-in-micropython-teil-6-dcf77-funkmodul
