[Desktop Entry]
Icon=text-html
Name=BerryBase Max7219, 4-in-1 LED Punkt-Matrix-Display Modul, 8x8, SPI-Bus, 5V, 10MHz
Type=Link
URL[$e]=https://www.berrybase.de/berrybase-max7219-4-in-1-led-punkt-matrix-display-modul-8x8-spi-bus-5v-10mhz
