[Desktop Entry]
Icon=text-html
Name=dsiggi/micropython-dcf77 - MicroPython module to receive and decode the DCF77 time telegram
Type=Link
URL[$e]=https://codeberg.org/dsiggi/micropython-dcf77
