[Desktop Entry]
Icon=text-html
Name=https://www.best-microcontroller-projects.com/max7219.html
Type=Link
URL[$e]=https://www.best-microcontroller-projects.com/max7219.html
