[Desktop Entry]
Icon=text-html
Name=MicroCrystal - Real-Time Clock (RTC) Modules
Type=Link
URL[$e]=https://www.microcrystal.com/en/products/real-time-clock-rtc-modules
