[Desktop Entry]
Icon=text-html
Name=Real Time Clock – GLYN
Type=Link
URL[$e]=https://www.glyn.de/produkte/real-time-clock/?q=RV-8263-C7-ON-BOARD32.768KHZ-40%2F%2B85C
