[Desktop Entry]
Icon=text-html
Name=SHT3x - Sensirion - Smart Sensor Solutions
Type=Link
URL[$e]=https://sensirion.com/de/produkte/katalog/serien/sht3x
